.hero {
  width: 100%;
  min-height: 70vh;
  background: linear-gradient(rgba(88, 131, 146, 0.7), rgba(107, 144, 157, 0.7)),
    url(../../images/allpets.jpg);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-text {
  text-align: center;
  max-width: 800px;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
}

.hero-text p {
  font-size: large;
  max-width: 700plx;
  margin: 10px auto 20px;
  line-height: 1.4;
  font-weight: bold;
}


/* SERVICES */

.services {
  margin: 30px auto;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.service img {
  width: 100%;
  border-radius: 10px;
  display: block;

}

.service {
  flex-basis: 31%;
  position: relative;
}


.caption {
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 15, 152, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
  cursor: pointer;
  opacity: 0;
  transition: 0.4s;
}

.service:hover .caption {
  opacity: 1;
  padding: 0;
}

h1 {
  text-align: center;
}

.title {
  text-align: center;
  color: #212EA0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0 15px;
}

.title h2 {
  font-size: 32px;
  color: #000F38;
  margin-top: 5px;
  text-transform: none;
}

/* PLAYGROUND DEFAULT */

.pgDefault {
  margin: 100px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
}

.pgDefaultLeft {
  flex-basis: 40%;
}

.pgDefaultRight {
  flex-basis: 56%;
}

.pgDefault-img {
  width: 100%;
  border-radius: 10px;
}
.pgDefault h3 {
  color: #212EA0;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 50px 0 15px;
}

.pgDefault h2 {
  font-size: 35px;
  color: #000F38;
  margin: 10px 0;
  max-width: 400px;
}

.pgDefault p {
  color: #676767;
  margin-bottom: 15px;
}

/* CARD STYLING */

/* Styling for the container that holds the event cards. */
.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Styling for individual event cards. */
.event-card {
  width: 360px; 
  height: 380px; 
  margin: 10px; 
  background-color: rgb(205, 184, 206);
  border-radius: 10px;
  overflow: hidden; 
  position: relative;
  transition: transform 0.3s; 
  border: #423146 3px solid;
}

/* Styling for when a user hovers over a event card. */
.event-card:hover {
  transform: translateY(-5px);
}

/* Styling for the container that holds the event's image. */
.event-image-container {
  height: 300px; 
  padding: 10px; 
}

/* Styling for the event's image. */
.event-image {
  width: 200px; 
  height: 200px; 

  object-fit: cover;
  display: grid;
  margin-left: 80px;
}

/* Styling for the event's details (). */
.event-details {
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  color: #000; 
  font-size: 16px; 
  text-align: center; 
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* SITTER BOOKING */
/* Styling for sitter cards (where they vary from event cards only). */
.sitters-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 10px;
  margin-bottom: 20px;
}
.sitters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sitter-card {
  width: 360px; 
  height: 380px; 
  margin: 10px; 
  background-color: rgb(250, 230, 250);
  border-radius: 10px;
  overflow: hidden; 
  position: relative;
  transition: transform 0.3s; 
  border: #423146 3px solid;
}

.booknow-button {
  margin-left: 30px;
}

.sitter-details {
  flex-direction: column; 
  align-items: center;
  justify-content: center; 
  color: #000; 
  font-size: 18px; 
  text-align: center; 
  margin-top: -30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sitter-image-container {
  height: 300px; 
  padding: 10px; 
}

/* Styling for the event's image. */
.sitter-image {
  width: 200px; 
  height: 200px; 

  object-fit: cover;
  display: grid;
  margin-top: 40px;
  margin-left: 70px;
}

.book-walk-title {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 50px;
}