.services {
    margin: 50px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.service img {
    width: 100%;
    border-radius: 10px;
    display: block;
}

.service {
    flex-basis: 31%;
    position: relative;
}

.caption {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 15, 152, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding: 70%;
    transition: 0.4s;
}

.service:hover .caption {
    opacity: 1;
    padding: 0;
}

h1 {
    text-align: center;
}