/* BOOK SERVICE */

.sitter-card-container {
    margin: 50px auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

.sitter-card img {
    width:100%;
    border-radius: 10px;
  }

.sitter-card-outline {
    height: auto;
    width: auto;
    flex-basis: auto;
    position: relative;
}

.caption {
  justify-content: center;
}

/* VIEW PETSITTER DETAILS */

.petsitter-details-container {
  height: 600px;
  margin: 0 auto;
  background-color: white;
  margin-top: 75px;
  display: grid;
  grid-template-areas: 
    "left-photo-box top-right"
    "left-photo-box bottom-right";
  grid-gap: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.left-photo-box {
  height: 600px;
  width: 300px;
  background-color: lavenderblush;
  border-radius: 10px;
  border: 10px;
  /* padding-top: 50px; */
  padding-left: 10px;
  font-size: 30px;
  grid-area: left-photo-box;
  /* margin-left: 100px; */
  text-align: center;
}

.sitter-img {
  margin-top: 40px;
  width: 50%;
  height: 50%;
  border-radius: 30px;
  border-width: 10px;
  border-style: solid;
  border-color:white;
  margin-bottom: 10px;
}

.about-me, .reviews {
  width: 1200px;
  background-color: lavenderblush;
  border-radius: 30px;
  font-size: 30px;
  padding-left: 25px;
  padding-top: 20px;
}

.about-me {
  grid-area: top-right;
}

.reviews { 
  grid-area: bottom-right;
}

.caption {
  font-size: 15px;
}